<h1 class="text-center">Stock List</h1>
<form class="d-flex justify-content-end">
  <input type="text" name="keyword" [(ngModel)] = "keyword" /><button (click)="searchBySymbolKeyword(keyword)">Search by Symbol</button>
  <br>
</form >
<div *ngIf="stocks && symbolInitials">
  <span
    (click)="selectedSymbol = symbolInit" class="link-info"
    *ngFor="let symbolInit of symbolInitials"
    >{{ symbolInit }}|</span
  >
  <table class="table table-sm table-striped table-hover">
    <thead>
      <tr class="table-info">
        <th>No.</th>
        <th>Symbol</th>
        <th>Company</th>
        <th>PE Ratio</th>
        <th>No. of shares</th>
        <th>Date</th>
        <th>Close Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks | symbolSort: selectedSymbol">
        <td>{{ stock.id }}</td>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.company }}</td>
        <td [ngClass]="peRatioFormat(stock.peRatio)">{{ stock.peRatio }}</td>
        <td>{{ stock.numberOfShares }}</td>
        <td [ngClass]="formatDate(stock.date)">{{ stock.date }}</td>
        <td>{{ stock.closePrice }}</td>
      </tr>
    </tbody>
  </table>
</div>
